header
{
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-family: SimHei;
}
header h1
{
	font-size: 42px;
	font-weight: bolder;
	letter-spacing: 3px;
	margin: 10px;
	text-shadow: 4px 3px 2px #fff;
}

header #newgamebutton
{
	display: block;
	margin: 10px auto;
	width: 100px;
	padding: 5px;
	background-color: #6A6D9E;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	border: 3px  solid #494B80;
	border-radius: 30px;
}

header #newgamebutton:hover
{
	background-color: #494B80;
	border: 3px  solid #7D80BA;
}

header p
{
	font-size: 17px;
	margin: 0px auto;
}

#container2048
{
	background-color: #ccc;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#grid-container
{
	width: 460px;
	height: 460px;
	padding: 20px;
	margin: 10px auto;
	background-color: #5E92E6;
	border-radius: 15px;
	position: relative;
}

.grid-cell
{
	width: 100px;
	height: 100px;
	border-radius: 8px;
	background-color: #1A63D9;
	position: absolute;

}

.number-cell
{
	border-radius: 8px;
	font-family: SimHei;
	font-weight: bold;
	font-size: 43px;
	line-height: 100px;
	text-align: center;
	position: absolute;
	z-index: 999;
}


#back a
{
	z-index: 9;
	color: #FC9449;
	position: relative;
	font-size: 20px;
	text-decoration: none;
	font-family: SimHei;
}

#back a:hover
{
	color: #FA4E28;
	text-shadow: 2px 2px 2px #fff;
	font-weight: bold;
}